<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="card hovercard">
    <div class="card-background">
        <img class="card-bkimg" alt="" [src]="cv.image">
        <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="card-body">

        <div class="useravatar">
            <a (click)="sendToList()"> <img alt="" [src]="cv.image|defaultImage"> </a>
        </div>
        <div class="card-info">
            <a> <span (click)="sendToList()" class="card-title">{{cv.nom}}  {{cv.prenom}}</span> </a>
            <br> {{cv.job}}
        </div>

    </div>
</div>
<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
    </div>
</div>



<script>
    $(document).ready(function() {
        $(".btn-pref .btn").click(function() {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below 
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
    });
</script>